.header {
  background-color: #f7ca18;
  text-align: center;
  height: 50px;
  padding: 10px;
  font-weight: bold;
  font-size: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Here 0.2 is the opacity */
}
